.navbar {
    background-color: #778899;
    color: #fff;
}
.navbar-logo {
    height: 60px;
    margin-right: 15px;
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}
.main {
    min-height: 85vh;
    padding: 30px 5%;
    background: url("/images/photo-1507842217343-583bb7270b66.jpeg");
    
}
.pagetitle {
    color: #fff;
    margin-bottom: 20px;
}
.footer {
    background-color: #778899;
    text-align: center;
}
.copyright {
    color: #fff;
}
